* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border: black dotted 1px; */
}

/* header edits  */

#header {
    text-align: center;
    color: rgb(6, 46, 51);
    background-color: cadetblue;
    padding: 20px 0px;
    font-size: 40px;
    -webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
}

/* body edits  */

#body {
    background-color: rgb(235, 253, 255);
}

.main {
    display: flex;
}

.flex img {
    width: 40%;
    margin: 0px 0px 0px 5%;
}

.flex__section {
    width: 50%;
    align-self: center;
    text-align: left;
    margin: 0px 15%;
    line-height: 50px;
}

.aside {
    width: 20%;
    background-color: rgb(235, 253, 255);
    /* border: dotted black 1px; */
    margin: 10px;
    text-align: left;
    line-height: 3em;
    border: cadetblue groove 15px;
    padding: 0px 2%;
}

.aside h5 {
    font-size: 20px;
    padding: 5% 0px;
}

.aside p {
    font-size: 15px;
}

.details {
    /* border: solid navy 2px; */
    margin: 10px;
    font-size: 20px;
    text-align: center;
    width: 80%;
}

.quotes {
    /* border: solid navy 2px; */
    text-align: center;
    width: 70%;
    margin: 5% 13%;
    padding: 3%;
    border: cadetblue groove 15px;
}

.quotes h3 {
    font-size: 30px;
    text-decoration: underline;
}

.quotes p {
    font-size: 20px;
    padding: 3%;
    line-height: 2em;
}

.harvesting_locations {
    /* border: solid navy 2px; */
    margin: 10px;
    text-align: center;
    width: 70%;
    margin: 5% 13%;
    padding: 3%;
    border: cadetblue groove 15px;
}

.harvesting_locations h3 {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 2%;
}

.harvesting_locations p {
    font-size: 20px;
    padding: 2%;
}

footer {
    background-color: rgb(235, 253, 255);
    /* border: solid navy 1px; */
    margin: 10px;
    text-align: center;
}

.flex {
    display: flex;
    padding: 5% 0px;
    border: cadetblue groove 15px;
}
