* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border: black dotted 1px; */
}

/* header edits  */

#header {
    text-align: center;
    color: rgb(255, 0, 225);
    background-color: aquamarine;
    padding: 20px 0px;
    font-size: 40px;
}

/* body edits  */

#body {
    display: flex;
    background-color: rgb(235, 253, 255);
}

.main {
    width: 80%;
}

img {
    width: 50%;
}

.flex__section {
    width: 50%;
    align-self: center;
    text-align: left;
    margin: 0px 15%;
    line-height: 50px;
}

.aside {
    width: 20%;
    background-color: rgb(235, 253, 255);
    /* border: dotted black 1px; */
    margin: 10px;
    text-align: left;
}

.aside h5 {
    font-size: 20px;
    padding: 5% 0px;
}

.aside p {
    font-size: 15px;
}

.details {
    /* border: solid navy 2px; */
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.quotes {
    /* border: solid navy 2px; */
    margin: 10px;
    text-align: center;
    width: 80%;
    padding: 10%;
}

.quotes h3 {
    font-size: 30px;
}

.quotes p {
    font-size: 20px;
    padding: 5%;
}

.harvesting_locations {
    /* border: solid navy 2px; */
    margin: 10px;
    text-align: center;
    width: 80%;
    padding: 10%;
}

.harvesting_locations h3 {
    font-size: 30px;
}

.harvesting_locations p {
    font-size: 20px;
    padding: 5%;
}

footer {
    background-color: rgb(235, 253, 255);
    /* border: solid navy 1px; */
    margin: 10px;
    text-align: center;
}

.flex {
    display: flex;
    padding: 5% 0px;
}
